<h1>Show page for Todo</h1>

<p>
Name: <%= @todo.name %>
</p>

<p>
Description: <%= @todo.description %>
</p>

<%= link_to "Edit this Todo", edit_todo_path(@todo) %> |
<%= link_to "Index of Todos", todos_path %>
